body {
    font-family: "Lato", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(190, 100, 110);;
}

.container {
    max-width: 700px;
    margin: 20px auto;
    padding: 30px;
    min-height: 400px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titre {
    text-align: center;
    color: #333;
    text-transform: capitalize;
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.zone-id {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.zone-nom, .zone-prenom {
    width: 48%;
}

.zone-com{
    margin-bottom: 20px;
}
.form-id, .form-com {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: capitalize;
}

.zone-input, .zone-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(211, 120, 131);
    transition: background-color 0.3s ease;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: capitalize;
}

.form-button:hover {
    background-color: rgb(190, 100, 110);
}
