/* Utilisation de fonts personnalises */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins, sans-serif';
} */

body {
    background: white;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(211, 120, 131);
}

/* Header and Navigation Styles */
header {
    background: black;
    color: #fff;
    padding: 1rem 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    max-width: 2000px;
    align-items: center;
    margin: 0 auto;
    padding: 0 1rem;
}

.wrapper, nav ul {
    display: flex;
    justify-content: space-between;
}

ul {
    padding: 0;
}

.wrapper {
    align-items: center;
}

.wrapper a {
    text-decoration: dashed;
    color: #fff;
    text-transform: capitalize;
    text-align: right;
}

.wrapper li {
    list-style: none;
    margin-right: 25px;
    padding: auto;
    text-align: right;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}

.logo a {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f1f1f1;
    text-decoration: none;
}

.logo {
    color: #fff;
    padding: 15px;
}

.logo span {
    color: rgb(211, 120, 131);
}

.search-section {
    text-align: right;
    padding: 5px;
    margin-right: 25px;
}

.icon {
    width: 15px;
    height: 15px;
    margin-right: 0rem;
    vertical-align: middle;
}

.compte-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: rgb(211, 120, 131);
}

.compte-button a {
    text-decoration: none;
    color: rgb(5, 5, 5);
    display: flex;
    align-items: center;
}

.compte-button .icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    background-color: rgb(211, 120, 131);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(5, 4, 4);
    min-width: 100px;
    box-shadow: 0 2px 5px rgb(7, 7, 7);
    z-index: 1;
}

.compte-button:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(211, 120, 131);
    color: #0d0d0d;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Responsive Navigation */
.nav-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.nav-toggle span {
    background: #fff;
    border-radius: 2px;
    height: 3px;
    width: 25px;
    margin-bottom: 4px;
}

@media (max-width: 768px) {
    .wrapper, nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-toggle {
        display: flex;
    }

    nav ul {
        background: black;
        position: absolute;
        top: 60px;
        right: 0;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 15px;
        text-align: center;
    }

    nav ul li a {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #fff;
    }

    .wrapper.active {
        display: flex;
    }
}

/* Page Content Styles */
.menu {
    padding: 0 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px 40px;
}

.heading {
    background: rgb(0, 247, 255);
    color: #fff;
    margin-bottom: 30px;
    padding: 30px 0;
    grid-column: 1/-1;
    text-align: center;
}

.heading>h1 {
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.food-items {
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    transition: .2s ease-in-out;
    background-color: #fff;
}

.food-items img {
    position: relative;
    width: 100%;
    height: 280px;
    border-radius: 15px 15px 0 0;
    cursor: pointer;
}

h1 {
    grid-column: 1/-1;
    text-align: center;
}

.details {
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row: auto;
}

.details-sub {
    display: grid;
    grid-template-rows: auto auto;
}

.details-sub>h5 {
    font-weight: 600;
    font-size: 18px;
}

.details>p {
    color: black;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
}

.details>.btn {
    display: inline-block;
    background: rgb(239, 156, 170);
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    width: 180px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    text-align: center;
    line-height: 2.5;
}

.details>.btn:hover {
    background-color: rgba(239, 108, 130, 0.838);
}

/* Footer Styles */
footer .container {
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
}

footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col-md-3 {
    width: 25%;
    padding: 10px;
}

footer h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(211, 120, 131);
    font-family: 'Times New Roman', Times, serif;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    margin-bottom: 5px;
}

footer a {
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

footer .social-icons li {
    display: inline-block;
    margin: 0 5px;
}

footer .social-icons li a {
    font-size: 20px;
    color: #333; 
}

footer .social-icons li a img {
    width: 40px;
    height: 40px;
}

footer .copyright {
    text-align: center;
    font-size: 14px;
    margin-top: 50px;
    color: #f1f1f1;
    margin-left: auto;
    margin-right: auto;
}

footer .project-button {
    display: block;
    background-color: rgb(211, 120, 131);
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: 10px auto;
    border-radius: 5px;
    text-decoration: none;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(211, 120, 131); 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.button-link:hover {
    background-color: #0056b3; /* Changez cette couleur selon vos besoins */
}

/* Responsive Adjustments for Smaller Screens */
@media (max-width: 1200px) {
    header .container {
        padding: 0 20px;
    }
}

@media (max-width: 1024px) {
    .wrapper1, nav ul {
        flex-direction: column;
    }

    .wrapper1 li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .search-section {
        margin-right: 0;
    }

    .compte-button {
        margin-top: 10px;
    }

    .compte-button .icon {
        margin-left: 0;
    }

    .compte-button a {
        justify-content: center;
    }

    .dropdown-content {
        min-width: 150px;
    }
}

@media (max-width: 480px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    .col-md-3 {
        width: 100%;
    }

    .full-width {
        width: 100%;
    }

    header .container {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 10px;
    }

    .search-section {
        margin-bottom: 10px;
    }

    .compte-button {
        width: 100%;
        text-align: center;
    }

    .compte-button a {
        justify-content: center;
    }
}



/* Responsive Footer Styles */
@media (max-width: 768px) {
    footer .col-md-3 {
        width: 100%;
        margin-bottom: 20px;
    }
}