*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);
    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);
}

 h1, h2, h3, h4 {
    line-height: 1.2;
    font-family: 'Young Serif', serif;
    font-size:  1.5rem;
    font-weight: 400;
    color: var(--nutmeg);
    margin-bottom: 1.75rem;
}

 ul, ol{
    padding: 0 1rem;
}

img {
    display: block;
    max-width: 100%;
    font-style: italic;
    color: var(--dark-raspberry);
    
}

body {
    font-family:  'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--wenge-brown);
    background-color: rgb(190, 100, 110);;

}
header {
    background: black;
    color: #fff;
    padding: 1rem 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
header h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

 .wrapper1,nav ul {
    display: flex;
    justify-content: space-between; 
}

ul{
    padding: 0;
}

 .wrapper1 {
    align-items: center; 
}

.wrapper1 a {   
    text-decoration:dashed;  
    color: #fff;
    text-transform: capitalize;  
    text-align: right;
}

.wrapper1 li {              
    list-style: none;   
    margin-right: 25px;  
    text-align:right;
}

.logo a {    
    font-size: 2rem;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.logo{
    color: #fff;
}
.logo span {
    color: rgb(211, 120, 131);
}


.search-section{ 
    text-align: right;
    padding: 5px;
    margin-right: 25px;
}
    
.icon{
    width: 15px; 
    height: 15px; 
    margin-right: 0rem; 
    vertical-align: middle; 
        
}
.compte-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: rgb(211, 120, 131);
}
      
.compte-button a {
    text-decoration: none;
    color: rgb(5, 5, 5); 
    display: flex;
    align-items: center; 
}
      
.compte-button .icon {
    width: 20px;
    height: 20px;
    margin-left: 5px; 
    background-color: rgb(211, 120, 131);
}
      
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(5, 4, 4);
    min-width: 100px;
    box-shadow: 0 2px 5px rgb(7, 7, 7);
    z-index: 1;
}
      
.compte-button:hover .dropdown-content {
    display: block;
}
      
.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(211, 120, 131);
    color: #0d0d0d;
    text-transform: capitalize;
}
      
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.recette-title {
font-size: 2.5rem;
color: var(--dark-charcoal);
}
.prep-title{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--dark-raspberry);
    margin-bottom: .5rem;
}

span{
    font-weight: 700;
}

[data-cell="nutrient-value"] {
    color: var(--nutmeg);
    font-weight: 600;
}

.instructions-list li {
    padding-left: 1rem;
    margin-bottom: .5rem;
}

li::marker {
    color: var(--nutmeg);
    font-weight: 600;
}

.wrapper{
    display: grid;
    place-items: center;
}

.recette-wrapper {
    max-width: 45em;
    padding: 1.75rem;
    margin: 6rem 0;
    border-radius: 1.5rem;
    background: var(--white);
}

.recette-img{
    border-radius: .8rem;
    margin-bottom: 2.5rem;
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: contain;

}

section {
    margin-top: 2rem;
}

hr {
    outline: none;
    border: none;
    height: 1px;
    background: var(--light-grey);
    margin-top: 2rem;
}

.temps-preparation {
    padding: 1.75rem;
    border-radius: .8rem;
    margin-top: 2rem;
    background: var(--eggshell);
}

table {
    border-collapse: collapse;
    width: 100%;

}

tr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    border-bottom: 1px solid var(--light-grey);

}

.container {
    width: 100%;
    max-width: 2000px;
    background-color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-md-3 {
    width: 25%;
    padding: 10px;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(211, 120, 131);
    font-family: 'Times New Roman', Times, serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 5px;
}

a {
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

.social-icons li {
    display: inline-block;
    margin: 0 5px;
    
}

.social-icons li a {
    font-size: 20px;
    color: #333; 
}
.social-icons li a img {
    width: 40px; /* Définir la largeur souhaitée */
    height: 40px; /* Définir la hauteur souhaitée */
}

.copyright {
    text-align: center;
    font-size: 14px;
    margin-top: 50px;
    color: #f1f1f1;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Times New Roman', Times, serif;
}
.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(211, 120, 131); 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.button-link:hover {
    background-color: #0056b3; /* Changez cette couleur selon vos besoins */
}
/* Responsive Footer Styles */
@media (max-width: 768px) {
    footer .col-md-3 {
        width: 100%;
        margin-bottom: 20px;
    }
}
@media (max-width: 500px) {
    .recette-wrapper {
        margin: 0;
        border-radius: 0;
        padding: 0;
    }

    .recette-img {
        border-radius: 0;
    }

    .recette-container {
        padding: 0 1.75rem;
    }

    .recette-title {
        font-size: 2.2rem;
    }
}

@media (max-width: 768px) {
    .col-md-3 {
        width: 50%;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .full-width {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .col-md-3 {
        width: 100%;
    }

    .full-width {
        width: 100%;
    }
}


